{% extends "base.html" %}

{% block cambiarFondo %}change-background-color{% endblock %}
{% block GoHome %}../{% endblock %}
{% block ocultaCreaPost %}ocultarBotonCrear{% endblock %}
{% block posts %}



    <form action="" method="post" class="crearPost-form" enctype="multipart/form-data">
        <h1 class="H1-crea">Crear foto</h1>
        <span>{{ message | safe }}</span>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear foto</button>
    </form>

{% endblock %}