{% extends "base.html" %}

{% block cambiarFondo %}change-background-color{% endblock %}
{% block GoHome %}../{% endblock %}
{% block detalle %}
<!-- Plantilla Detalle --->

        <div class="plantilla-detalle mostrar-detalle" data-id="{{ post.pk }}">
              <div class="cerrar">
                  <span class="icon-cross"></span>
              </div>
              <div class="user container">
                  <div class="row">
                    <figure class="picture-profile">
                        <img  alt="" src="{% if post.owner.profile.img == '' %}
                                                /../static/image/profile-placeholder.png
                                          {% else %}
                                                {{post.owner.profile.img}}
                                          {% endif %}">
                    </figure>
                  </div>
                  <div class="row">
                      <h1 class="name-user">{{ post.owner.username }}</h1>
                  </div>
              </div>
              <div class="segmentoArticle">

                <!--

                      el contenido del articulo sera dinamico con el click del listado de articulos.
                -->
                    <div class="title-article">
                        {{ post.title }}
                    </div>
                    <div class="fecha-creacion">
                        <strong>Creado:</strong>
                        <span>{{ post.created_at }}</span>
                    </div>
                    <div class="img-article-header"
                         {% if "http" in post.image.name %}
                            style="background-image: url('{{ post.image }}');">
                         {% else %}
                            style="background-image: url('/../media/{{ post.image }}');">
                         {% endif %}
                    </div>
                    <article class="article-detail">

                        <!-- contenido de la base de datos -->
                        <p>
                            {{ post.body  }}
                        </p>


                    </article>

              </div>
              <div class="comentarios container">
                  <label>Comentarios:</label>
                  <div class="sectionComments">


                  </div>
                  {%  if user.is_authenticated %}
                      <input type="hidden" id="nombre" value="{{ user.username }}">
                      <div class="escribir row">
                        <form action="#" method="get">

                            <label>Comentario: <small>máximo 150 palabras</small></label><small class="indicador">0</small>
                            <textarea name="comment" id="message" cols="30" rows="10"></textarea>
                            <button class="enviar">Enviar</button>
                        </form>
                      </div>
                  {% endif %}
              </div>
        </div>
{% endblock %}

{% block ocultarListado %} ocultar-detalle {% endblock %}
{% block ocultarPaginacion %} ocultar-detalle {% endblock %}

