{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
      <title>Destiny</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0"> <!--- Resposivo -->
      <meta name="theme-color" content="#66A790">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body class="">
        <header>
          <span class="icon-sandwich"></span>
          <h1 class="titulo">Destiny</h1>
          <span class="icon-lupa"></span>
        </header>
        <!-- Encabezado --->
        <div class="header">
            <div class="row superior">
                <div class="access">
                  <a href="#login" class="login">Ingresar</a>
                  <a href="/register" class="register">Registro</a>
                </div>
                <div class="row">
                    <input class="txt-buscar" type="search" placeholder="Buscar..">
                </div>
            </div>
        </div>
        <div class="categorias">
            <div class="inferior">
                <nav class="navbar">
                  <ul class="lista-nav">
                    <li class="lista-item">
                      <a href="#tec">Ciencia y Tecnología</a>
                    </li>
                    <li class="lista-item">
                        <a href="#music">Música</a>
                    </li>
                    <li class="lista-item">
                        <a href="#cine">Cine</a>
                    </li>
                    <li class="lista-item">
                        <a href="#geek">Geek</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>

        <!-- Listado de articulos --->
        <div class="plantilla-detalle">
              <div class="cerrar">
                  <span class="icon-cross"></span>
              </div>
              <div class="user container">
                  <div class="row">
                    <figure class="picture-profile">
                        <img  alt="">
                    </figure>

                  </div>
                  <div class="row">
                      <h1 class="name-user"></h1>
                  </div>
              </div>
              <div class="segmentoArticle">

                <!--

                      el contenido del articulo sera dinamico con el click del listado de articulos.
                -->

              </div>
              <div class="comentarios container">
                  <labe>Comentarios:</labe>
                  <div class="sectionComments">


                  </div>

                  <div class="escribir row">
                    <form action="#" method="get">
                        <label for="nombre" class="nombre" requiredd>Nombre:</label>
                        <input type="text" id="nombre" class="inombre" placeholder="Nombre" required>
                        <label for="email" class="email">Email:</label>
                        <input type="text" id="email" class="iemail" placeholder="name@company.com" pattern="[A-Za-z0-9\.\+]+@[A-Za-z0-9]+\.[A-Za-z0-9\.]+" required>
                        <label>Comentario: <small>máximo 150 palabras</small></label><small class="indicador">0</small>
                        <textarea name="comment" id="message" cols="30" rows="10"></textarea>
                        <button class="enviar">Enviar</button>
                    </form>
                  </div>

              </div>
        </div>

        <!-- Listado de articulos --->
        <div class="list-article">

            {% for blog in blogs_list %}

                    <div class="item-article">
                      <!-- Articulo -->
                        <div class="article container" data-id="{{ blog.pk }}" data-fecha="{{ blog.datePub }}">

                            <div class="section-user row" data-user="{{ blog.owner.username }}">
                                <div class="user col-3">
                                    <figure class="picture-profile">
                                        <img alt="image-profile" class="img-user">
                                    </figure>
                                </div>
                                <div class="col-3">
                                    <figcaption class="user-name">
                                        {{ blog.owner.username }}
                                    </figcaption>
                                </div>
                                <div class="fecha col-6">
                                    <span></span>
                                </div>
                            </div>

                            <div class="article-click">
                                <div class="row cont-title">
                                    <h1 class="title-article">
                                        {{ blog.title }}
                                    </h1>
                                </div>

                                <div class="img-article" style="background-image: url('media/{{ blog.image }}');">
                                </div>
                                <div class="cont-detalle-article">
                                    <p class="text-article row">
                                        {{ blog.intro }}
                                    </p>
                                </div>
                            </div>
                            <div class="fav-comentarios">
                                  <span class="icon-heart col-1"></span>
                                  <span class="icon-bubbles col-1">21</span>
                            </div>
                        </div>
                        <!-- Fin de Articulo-->
                    </div>
            {% endfor %}

        </div>

        <div class="list-article paginacion">
            <div class="container">
              <div class="divVert">
                  <a href="#ant" class="ant">Anterior</a>
              </div>
              <a href="#sig" class="sig">Siguiente</a>
            </div>

        </div>

        <a href="#" class="scroll-up"></a>
        <!--
        <p id="subir" class="btn-top" style="display: block;">
            <a href="#" class="up"></a>
        </p>-->
        <div class="footer">
            <footer>
                <span>
                    Destiny
                </span>
                <p class="autor">
                    Nataly Contreras &copy; 2016
                </p>
            </footer>
        </div>

        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script type="text/javascript" src="{% static 'js/pruebas.js' %}"></script>
    </body>

</html>
