{% extends 'blog/list_posts.html' %}

{% block perfil %}
    <div class="profile container">
        <div class="foto col-5">
            <img src="{% if usuario.profile.img == '' %}
                            /../static/image/profile-placeholder.png
                      {% else %}
                            /../media/{{ usuario.profile.img}}
                      {% endif %}" alt="{{ usuario.username }}">

        </div>
        <div class="datos col-7">
            <form action="" class="form-profile" method="post" enctype="multipart/form-data">
               {% csrf_token %}

                <label>Nombre: </label>
                <span class="row">
                    {{ usuario.first_name }} {{ usuario.last_name }}
                </span>
                <label>Acerca de mi:</label>

                <textarea class="row" name="info" id="id_info" cols="50" rows="8">
                    {{ usuario.profile.info }}
                </textarea>
                <div class="row">
                     <input class="col-8" type="file" id="id_img" name="img"/>
                     <!--<button class="actualizar col-3">Actualizar</button>-->
                </div>
            </form>
        </div>
    </div>
{% endblock %}
